%h2
  Welcome to the Oakland Youth-Friendly Business Directory!

%p
  To log into your account, please use the information below:

%ul
  %li
    URL:
    = link_to 'http://www.gametheoryacademy.org', 'http://www.gametheoryacademy.org'
  %li
    Email: 
    = @user.email
  %li
    Temporary Password:
    = @password
    
%p
  Once you have successfully logged into your account, please change your password.

%p
  If you have any questions, please contact
  = mail_to 'trish@gametheoryacademy.org', 'trish@gametheoryacademy.org'