Welcome to the Oakland Youth-Friendly Business Directory!

To log into your account, please use the information below:

URL:
= link_to 'http://www.gametheoryacademy.org', 'http://www.gametheoryacademy.org'

Email: 
= @user.email

Temporary Password:
= @password

Once you have successfully logged into your account, please change your password.

== If you have any questions, please contact #{mail_to 'info@gametheoryacademy.org', 'info@gametheoryacademy.org'}